//Override default colors.
//$primary: #3396c7; //5cadd5;
$primary: #427a8a;
$primary-invert: findColorInvert($primary);
$white: #f8f9fa;
$black: findColorInvert($white);


//Create your own colors.
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$facebook: #4267b2;
$facebook-invert: findColorInvert($facebook);
$linkedin: #2867B2;
$linkedin-invert: findColorInvert($linkedin);
$reddit: #FF4500;
$reddit-invert: findColorInvert($reddit);

$home: #3396c7; //5cadd5;
$home-inverted: findColorInvert($home);
$home-light: #29d6b5;
$home-light-inverted: findColorInvert($home-light);

$download: #155591;
$download-inverted: findColorInvert($download);
$download-light: #1c7ed6;
$download-light-inverted: findColorInvert($download-light);

$donation: #6d3fb8; //#667db6; //#3d74b8;
$donation-inverted: findColorInvert($donation);
$donation-light: rgb(157, 120, 216); //#0082c8;//#799ECC;
$donation-light-inverted: findColorInvert($donation-light);

$screenshots: #116611; //rgb(41, 58, 75);//911515;
$screenshots-inverted: findColorInvert($screenshots);
$screenshots-light: #708770; //rgba(90,92,106,1); //d61c1c;
$screenshots-light-inverted: findColorInvert($screenshots-light);

$contact: rgb(1, 121, 161);
$contact-inverted: findColorInvert($contact);
$contact-light: #00B4DB;
$contact-light-inverted: findColorInvert($contact-light);

$dark-15: rgba(0, 0,0, 0.15);
$dark-15-inverted: findColorInvert($dark-15);
$grey-71: hsl(0, 0%, 71%);
$grey-71-inverted: findColorInvert($grey-71);
$grey-80: hsl(0, 0%, 80%);
$grey-80-inverted: findColorInvert($grey-80);
$grey-95: hsl(0, 0%, 95%);
$grey-95-inverted: findColorInvert($grey-95);
$grey-98: hsl(0, 0%, 98%);
$grey-98-inverted: findColorInvert($grey-98);
$grey-99: hsl(0, 0%, 99%);
$grey-99-inverted: findColorInvert($grey-99);